---
http_interactions:
- request:
    method: get
    uri: https://api.razorpay.com/v1/subscriptions/sub_JkfTsrkCQd6Gdw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic cnpwX3Rlc3RfNFpZVnlnZWtVVFFlbTg6WG0yNFhRYnJLZ05xNHBRNWtQVFB2azJz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pam:
      - '0'
    body:
      encoding: UTF-8
      string: '{"id":"sub_JkfTsrkCQd6Gdw","entity":"subscription","plan_id":"plan_JSO9sX3CbJy73r","customer_id":"cust_JjpKorNjqPQgIq","status":"active","current_start":1655929007,"current_end":1658514600,"ended_at":null,"quantity":1,"notes":[],"charge_at":1658514600,"start_at":1656004435,"end_at":1679509800,"auth_attempts":0,"total_count":10,"paid_count":1,"customer_notify":true,"created_at":1655928772,"expire_by":null,"short_url":"https:\/\/rzp.io\/i\/YXR895J","has_scheduled_changes":false,"change_scheduled_at":null,"source":"dashboard","payment_method":"card","offer_id":null,"remaining_count":9}'
  recorded_at: Thu, 23 Jun 2022 17:45:43 GMT
[...]
- request:
    method: get
    uri: https://api.razorpay.com/v1/subscriptions/sub_JkfTsrkCQd6Gdw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic cnpwX3Rlc3RfNFpZVnlnZWtVVFFlbTg6WG0yNFhRYnJLZ05xNHBRNWtQVFB2azJz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pam:
      - '0'
    body:
      encoding: UTF-8
      string: '{"id":"sub_JkfTsrkCQd6Gdw","entity":"subscription","plan_id":"plan_JSO9sX3CbJy73r","customer_id":"cust_JjpKorNjqPQgIq","status":"active","current_start":1655929007,"current_end":1658514600,"ended_at":null,"quantity":5,"notes":[],"charge_at":1658514600,"start_at":1656004435,"end_at":1679509800,"auth_attempts":0,"total_count":10,"paid_count":1,"customer_notify":true,"created_at":1655928772,"expire_by":null,"short_url":"https:\/\/rzp.io\/i\/YXR895J","has_scheduled_changes":false,"change_scheduled_at":null,"source":"dashboard","payment_method":"card","offer_id":null,"remaining_count":9}'
  recorded_at: Thu, 23 Jun 2022 17:45:49 GMT
recorded_with: VCR 6.1.0
