---
http_interactions:
- request:
    method: post
    uri: https://api.razorpay.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: plan_id=plan_JjkGtEmLF2ujkn&total_count=10
    headers:
      Authorization:
      - Basic cnpwX3Rlc3RfNFpZVnlnZWtVVFFlbTg6WG0yNFhRYnJLZ05xNHBRNWtQVFB2azJz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pam:
      - '0'
    body:
      encoding: UTF-8
      string: '{"id":"sub_JlJFhLD9wLhycq","entity":"subscription","plan_id":"plan_JjkGtEmLF2ujkn","status":"created","current_start":null,"current_end":null,"ended_at":null,"quantity":1,"notes":[],"charge_at":null,"start_at":null,"end_at":null,"auth_attempts":0,"total_count":10,"paid_count":0,"customer_notify":true,"created_at":1656068831,"expire_by":null,"short_url":"https:\/\/rzp.io\/i\/mszR5mWTaC","has_scheduled_changes":false,"change_scheduled_at":null,"source":"api","remaining_count":9}'
  recorded_at: Fri, 24 Jun 2022 11:07:12 GMT
recorded_with: VCR 6.1.0
