---
http_interactions:
- request:
    method: post
    uri: https://api.razorpay.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: plan_id=plan_JjkGtEmLF2ujkn
    headers:
      Authorization:
      - Basic cnpwX3Rlc3RfNFpZVnlnZWtVVFFlbTg6WG0yNFhRYnJLZ05xNHBRNWtQVFB2azJz
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Pam:
      - '0'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"BAD_REQUEST_ERROR","description":"The total count
        field is required when end at is not present.","field":"total_count"}}'
  recorded_at: Fri, 24 Jun 2022 11:07:16 GMT
recorded_with: VCR 6.1.0
