---
http_interactions:
- request:
    method: post
    uri: https://api.razorpay.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: plan_id=plan_JjkGtEmLF2ujkn&total_count=10
    headers:
      Authorization:
      - Basic cnpwX3Rlc3RfNFpZVnlnZWtVVFFlbTg6WG0yNFhRYnJLZ05xNHBRNWtQVFB2azJz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pam:
      - '0'
    body:
      encoding: UTF-8
      string: '{"id":"sub_JkXThlUfVzr1ei","entity":"subscription","plan_id":"plan_JjkGtEmLF2ujkn","status":"created","current_start":null,"current_end":null,"ended_at":null,"quantity":1,"notes":[],"charge_at":null,"start_at":null,"end_at":null,"auth_attempts":0,"total_count":10,"paid_count":0,"customer_notify":true,"created_at":1655900589,"expire_by":null,"short_url":"https:\/\/rzp.io\/i\/BvyHMXNbba","has_scheduled_changes":false,"change_scheduled_at":null,"source":"api","remaining_count":9}'
  recorded_at: Wed, 22 Jun 2022 12:23:10 GMT
- request:
    method: post
    uri: https://api.razorpay.com/v1/subscriptions/sub_JkXThlUfVzr1ei/cancel
    body:
      encoding: UTF-8
      string: cancel_at_cycle_end=0
    headers:
      Authorization:
      - Basic cnpwX3Rlc3RfNFpZVnlnZWtVVFFlbTg6WG0yNFhRYnJLZ05xNHBRNWtQVFB2azJz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pam:
      - '0'
    body:
      encoding: UTF-8
      string: '{"id":"sub_JkXThlUfVzr1ei","entity":"subscription","plan_id":"plan_JjkGtEmLF2ujkn","customer_id":null,"status":"cancelled","current_start":null,"current_end":null,"ended_at":1655900591,"quantity":1,"notes":[],"charge_at":null,"start_at":null,"end_at":null,"auth_attempts":0,"total_count":10,"paid_count":0,"customer_notify":true,"created_at":1655900589,"expire_by":null,"short_url":"https:\/\/rzp.io\/i\/BvyHMXNbba","has_scheduled_changes":false,"change_scheduled_at":null,"source":"api","payment_method":null,"offer_id":null,"remaining_count":9}'
  recorded_at: Wed, 22 Jun 2022 12:23:12 GMT
- request:
    method: get
    uri: https://api.razorpay.com/v1/subscriptions/sub_JkXThlUfVzr1ei
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic cnpwX3Rlc3RfNFpZVnlnZWtVVFFlbTg6WG0yNFhRYnJLZ05xNHBRNWtQVFB2azJz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pam:
      - '0'
    body:
      encoding: UTF-8
      string: '{"id":"sub_JkXThlUfVzr1ei","entity":"subscription","plan_id":"plan_JjkGtEmLF2ujkn","customer_id":null,"status":"cancelled","current_start":null,"current_end":null,"ended_at":1655900591,"quantity":1,"notes":[],"charge_at":null,"start_at":null,"end_at":null,"auth_attempts":0,"total_count":10,"paid_count":0,"customer_notify":true,"created_at":1655900589,"expire_by":null,"short_url":"https:\/\/rzp.io\/i\/BvyHMXNbba","has_scheduled_changes":false,"change_scheduled_at":null,"source":"api","payment_method":null,"offer_id":null,"remaining_count":9}'
  recorded_at: Wed, 22 Jun 2022 12:23:12 GMT
recorded_with: VCR 6.1.0
