---
http_interactions:
- request:
    method: get
    uri: https://api.razorpay.com/v1/payments/pay_Jl1VbSwE6j2HF2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic cnpwX3Rlc3RfNFpZVnlnZWtVVFFlbTg6WG0yNFhRYnJLZ05xNHBRNWtQVFB2azJz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 599ca2118477a10e7f26471d6e68937c:34d4d00b0fda3c05:0000000000000000:1
      X-Pam:
      - '0'
    body:
      encoding: UTF-8
      string: '{"id":"pay_Jl1VbSwE6j2HF2","entity":"payment","amount":239600,"currency":"INR","status":"captured","order_id":"order_Jl1VaTSLFUR9so","invoice_id":"inv_Jl1VaS22Cp3k30","international":false,"method":"card","amount_refunded":0,"refund_status":null,"captured":true,"description":"Payment
        for Updating Subscription","card_id":"card_JjpKouMNJVchsr","bank":null,"wallet":null,"vpa":null,"email":"user@example.com","contact":"+918892399943","customer_id":"cust_JjpKorNjqPQgIq","token_id":"token_JjpKp1Zezp2D0M","notes":[],"fee":7068,"tax":1078,"error_code":null,"error_description":null,"error_source":null,"error_step":null,"error_reason":null,"acquirer_data":{"auth_code":null},"created_at":1656006346}'
  recorded_at: Mon, 27 Jun 2022 19:09:39 GMT
- request:
    method: get
    uri: https://api.razorpay.com/v1/payments/pay_Jl1VbSwE6j2HF2/card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic cnpwX3Rlc3RfNFpZVnlnZWtVVFFlbTg6WG0yNFhRYnJLZ05xNHBRNWtQVFB2azJz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 4cdc1e2ec0e9c86733dab54c5a7297cf:c3771467ec38741c:0000000000000000:1
      X-Pam:
      - '0'
    body:
      encoding: UTF-8
      string: '{"id":"card_JjpKouMNJVchsr","entity":"card","name":"Test User","last4":"5449","network":"MasterCard","type":"credit","issuer":"UTIB","international":false,"emi":false,"sub_type":"consumer","token_iin":null}'
  recorded_at: Mon, 27 Jun 2022 19:09:40 GMT
- request:
    method: get
    uri: https://api.razorpay.com/v1/invoices/inv_Jl1VaS22Cp3k30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic cnpwX3Rlc3RfNFpZVnlnZWtVVFFlbTg6WG0yNFhRYnJLZ05xNHBRNWtQVFB2azJz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 6ffd12ef19b408228007bcc4581d22bf:05479565d205add1:0000000000000000:1
      X-Pam:
      - '0'
    body:
      encoding: UTF-8
      string: '{"amount":239600,"amount_due":0,"amount_paid":239600,"billing_end":null,"billing_start":null,"cancelled_at":null,"comment":null,"created_at":1656006345,"currency":"INR","currency_symbol":"\u20b9","customer_details":{"billing_address":null,"contact":"+918892399943","customer_contact":"+918892399943","customer_email":"user@example.com","customer_name":"","email":"user@example.com","gstin":"","id":"cust_JjpKorNjqPQgIq","name":"","shipping_address":null},"customer_id":"cust_JjpKorNjqPQgIq","date":1656006345,"description":null,"email_status":null,"entity":"invoice","expire_by":1656007544,"expired_at":null,"first_payment_min_amount":null,"gross_amount":239600,"group_taxes_discounts":false,"id":"inv_Jl1VaS22Cp3k30","idempotency_key":null,"invoice_number":null,"issued_at":1656006345,"line_items":[{"amount":47920,"currency":"INR","description":null,"gross_amount":239600,"hsn_code":null,"id":"li_Jl1VaSOJhmPwnS","item_id":null,"name":"Update
        Request","net_amount":239600,"quantity":5,"ref_id":null,"ref_type":null,"sac_code":null,"tax_amount":0,"tax_inclusive":false,"tax_rate":null,"taxable_amount":239600,"taxes":[],"type":"plan","unit":null,"unit_amount":47920}],"notes":{"type":"upgrade"},"order_id":"order_Jl1VaTSLFUR9so","paid_at":1656006347,"partial_payment":false,"payment_id":"pay_Jl1VbSwE6j2HF2","receipt":null,"reminder_status":null,"short_url":"https:\/\/rzp.io\/i\/AQgto1z","sms_status":null,"status":"paid","subscription_id":"sub_JkfTsrkCQd6Gdw","subscription_status":null,"supply_state_code":null,"tax_amount":0,"taxable_amount":239600,"terms":null,"type":"invoice","user_id":null,"view_less":true}'
  recorded_at: Mon, 27 Jun 2022 19:09:41 GMT
recorded_with: VCR 6.1.0
