---
http_interactions:
- request:
    method: post
    uri: https://api.razorpay.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: plan_id=plan_JjkGtEmLF2ujkn&total_count=10&start_at=1656673632
    headers:
      Authorization:
      - Basic cnpwX3Rlc3RfNFpZVnlnZWtVVFFlbTg6WG0yNFhRYnJLZ05xNHBRNWtQVFB2azJz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pam:
      - '0'
    body:
      encoding: UTF-8
      string: '{"id":"sub_JlJFjXqT63a7gR","entity":"subscription","plan_id":"plan_JjkGtEmLF2ujkn","status":"created","current_start":null,"current_end":null,"ended_at":null,"quantity":1,"notes":[],"charge_at":1656673632,"start_at":1656673632,"end_at":1680287400,"auth_attempts":0,"total_count":10,"paid_count":0,"customer_notify":true,"created_at":1656068833,"expire_by":null,"short_url":"https:\/\/rzp.io\/i\/aLFdfG20W","has_scheduled_changes":false,"change_scheduled_at":null,"source":"api","remaining_count":10}'
  recorded_at: Fri, 24 Jun 2022 11:07:14 GMT
- request:
    method: get
    uri: https://api.razorpay.com/v1/subscriptions/sub_JlJFjXqT63a7gR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic cnpwX3Rlc3RfNFpZVnlnZWtVVFFlbTg6WG0yNFhRYnJLZ05xNHBRNWtQVFB2azJz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pam:
      - '0'
    body:
      encoding: UTF-8
      string: '{"id":"sub_JlJFjXqT63a7gR","entity":"subscription","plan_id":"plan_JjkGtEmLF2ujkn","customer_id":null,"status":"created","current_start":null,"current_end":null,"ended_at":null,"quantity":1,"notes":[],"charge_at":1656673632,"start_at":1656673632,"end_at":1680287400,"auth_attempts":0,"total_count":10,"paid_count":0,"customer_notify":true,"created_at":1656068833,"expire_by":null,"short_url":"https:\/\/rzp.io\/i\/aLFdfG20W","has_scheduled_changes":false,"change_scheduled_at":null,"source":"api","payment_method":null,"offer_id":null,"remaining_count":10}'
  recorded_at: Fri, 24 Jun 2022 11:07:15 GMT
recorded_with: VCR 6.1.0
